<div class="container-big-card">
  <div class="photo-big-card">
    <img src="https://cdn.pixabay.com/photo/2017/11/10/04/47/image-2935360_1280.png"
    alt="imagem-placehold"
    height="200px">
  </div>
  <a href="">

  </a>
  <div class="title-big-card">
    <h1><a href="#"> Titulo do assunto</a></h1>
  </div>

  <div class="decription-big-card">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nisi?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, consequuntur?
      </a>
    </p>
  </div>
</div>
